<?xml version="1.0" encoding="utf-8"?>
<packages>
	<!-- <package id="hexyl"/> -->
	<package id="msys2"/>
	<!-- <package id="ruplacer"/> -->
	<package id="sd-cli"/>
	<package id="tokei"/>
	<package id="watchexec"/>

	<!-- Windows-specific stuff -->
	<package id="winaero-tweaker"/> <!-- Focus on hover. -->
</packages>
