<!--
    Tries to implement the current 0.1.0 draft of [Erich's standard workflow].

	[Erich's standard workflow]: https://github.com/erichdongubler-dotfiles/standard
-->
<?xml version="1.0" encoding="utf-8"?>
<packages>
	<!-- Tools I need for my basic setup -->
	<package id="altsnap"/>
	<package id="bat"/>
	<package id="bitwarden"/>
	<package id="delta"/>
	<package id="fd"/>
	<package id="firefox"/>
	<package id="fzf"/>
	<package id="git"/>
	<package id="greenshot"/>
	<!-- <package id="hexyl"/> -->
	<package id="msys2"/>
	<package id="neovim"/>
	<package id="nushell"/>
	<package id="p4merge"/>
	<package id="rescuetime"/>
	<package id="ripgrep"/>
	<package id="rust-analyzer"/>
	<package id="rustup.install"/>
	<!-- <package id="ruplacer"/> -->
	<package id="sd-cli"/>
	<package id="slack"/>
	<package id="starship"/>
	<package id="tokei"/>
	<package id="universal-ctags"/>
	<package id="vscode"/>
	<package id="watchexec"/>
	<package id="zoxide"/>

	<!-- Windows-specific stuff -->
	<package id="winaero-tweaker"/> <!-- Focus on hover. -->
</packages>
